.App {
  height: 100vh;
  /* border: 1px solid red; */
}

.top-header {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.sub-section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 60px;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sortby {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-wrap {
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin-left: 40px;
}

/* input {
  border: none;
} */

.sortby-wrap {
  margin-left: 40px;
}

.search-input {
  height: 25px;
  width: 500px;
  border: none;
}

.search-input:focus-visible {
  outline: none;
}

.charactername-sort {
  width: 250px;
  height: 30px;
}

.search-icon {
  width: 16px;
  margin-right: 10px;
}

.sub-section-2 {
  border: 1px SOLID rgb(42, 41, 41);
}

.race-wrap {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
}
.race-select {
  width: 145px;
  height: 25px;
}

.gender-wrap {
  display: flex;
  align-items: center;
  width: 250px;
  justify-content: space-between;
}

.gender-select {
  width: 145px;
  height: 25px;
}

.sub-section-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px;
}

.app-body {
  height: 360px;
  /* border: 1px solid green; */
  overflow: scroll;
}
.app-body::-webkit-scrollbar {
  display: none;
}

.app-pagination {
  height: 34px;
  /* border: 1px solid purple; */
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
}

.character-details-header {
  display: flex;
  flex-direction: row;
}

.page-list {
  display: flex;
  flex-direction: row;
  width: 400px;
  overflow: hidden;
}

.page-list::-webkit-scrollbar {
  display: none;
}
.pages-box {
  margin: 0px 10px;
  align-items: center;
  display: flex;
}

.page-list-wrrap {
  display: flex;
}

.page-limit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.page-limit-select {
  width: 100px;
}

.details-common-style {
  display: flex;
  justify-content: flex-start;
  margin: 10px 40px;
  gap: 0px 20px;
}

.close-btn-wrap {
  display: flex;
  position: absolute;
  right: 50px;
  padding-bottom: 35px;
}

.close-btn {
  width: 100px;
  height: 35px;
}

/* for changinstyle of tanle */
.gZWIKX {
  background-color: #c4c2c2 !important;
}
/* end */

.row-select {
  font-size: 16px;
  font-weight: 500;
}

.next-btn:hover {
  cursor: pointer;
}

.prev-btn:hover {
  cursor: pointer;
}
